:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.row {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 400px;
}

.row:not(:last-child) {
  margin-bottom: 0.25rem;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
}

button {
  background: transparent;
  color: #fff;

  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s;
  font-size: 1.125rem;
  min-width: 100px;
  height: 100px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  background-color: #fff;
  color: #242424;
}
